// Place all the styles related to the User_Connections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  border: solid black 1px;
  min-height: 200px;
  min-width: 200px;
  margin-top: 0.5em;
}