body {
  background-image: url('beach2.jpg');
  color: lightblue;
}


img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  border: solid lightblue 3px;
}

.profile {
  text-align: center;
}
a {
  color: red;
}